@using codeKade.DataLayer.Entities.Blog
@using codeKade.Application.PathExtentions
@model codeKade.DataLayer.DTOs.Blog.EditBlogDTO
@{
    ViewData["Title"] = "ویرایش مقاله" + " " + Model.Title;
    List<BlogCategory> Ctegories = ViewBag.Categories as List<BlogCategory>;
}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h4 class="page-title m-0">@ViewData["Title"]</h4>
                </div>
                <div class="col-md-4">
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end page-title-box -->
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card m-b-30">
            <div class="card-body">
                <form asp-action="Edit" asp-controller="Blog" asp-area="Admin" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="ID" value="@ViewBag.Id"/>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-sm-2 col-form-label">عنوان</label>
                        <div class="col-sm-10">
                            <input class="form-control" type="text" asp-for="Title" placeholder="برای مثال : آموزش برنامه نویسی">
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"> شاخه</label>
                        <div class="col-sm-10">
                            <select class="custom-select" asp-for="BlogCategoryId">
                                <option selected="">هیچکدام</option>
                                @foreach (var category in Ctegories)
                                {
                                    @if (Model.BlogCategoryId == category.ID)
                                    {
                                        <option value="@category.ID" selected="selected">@category.Title</option>
                                    }
                                    else
                                    {
                                        <option value="@category.ID">@category.Title</option>
                                    }

                                }
                            </select>
                            <span class="text-danger" asp-validation-for="BlogCategoryId"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"> بدنه</label>
                        <textarea id="Body" asp-for="Body"></textarea>
                        <span class="text-danger" asp-validation-for="Body"></span>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"> عکس</label>
                        <img src="@(PathTools.BlogThumbImagePath + Model.ImageName)"/>
                        <input asp-for="Image" type="file">
                        <span class="text-danger" asp-validation-for="Image"></span>
                    </div>

                    <div class="form-group row">
                        <input type="submit" class="btn btn-primary btn-block" value="ثبت">
                    </div>
                </form>
            </div>
        </div>
    </div> <!-- end col -->
</div>
@section Scripts
    {
    <script src="/plugins/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function() {
            CKEDITOR.replace("Body");
        });
    </script>
}
