@using codeKade.Application.PathExtentions
@using codeKade.DataLayer.Entities.Comment
@using PersianDate.Standard
@model codeKade.DataLayer.Entities.Event.Event
@{
    ViewData["Title"] = "مشاهده رویداد"+ " " + Model.Title;
    List<Comment> Comments = ViewBag.Comments as List<Comment>;
}
<!--================================
    START BREADCRUMB AREA
=================================-->
<section class="breadcrumb-area dir-rtl">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-title">@ViewData["Title"]</h1>
                <div class="breadcrumb">
                    <ul>
                        <li>
                            <a href="#">خانه</a>
                        </li>
                        <li>
                            <a href="#">رویداد ها</a>
                        </li>
                        <li class="active">
                            <a href="#">@Model.Title</a>
                        </li>
                    </ul>
                </div>

            </div>
            <!-- end /.col-md-12 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--================================
    END BREADCRUMB AREA
=================================-->
<!--============================================
    START SINGLE PRODUCT DESCRIPTION AREA
==============================================-->
<section class="single-product-desc dir-rtl">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="item-preview">
                    <div class="item__preview-slider">
                        <div class="prev-slide">
                            <img src="@(Model.ImageName !=null ? PathTools.EventImagePath + Model.ImageName : PathTools.DefaultUserImage)" alt="@Model.Title">
                        </div>

                    </div>
                    <!-- end /.item--preview-slider -->



                </div>
                <!-- end /.item-preview-->

                <div class="item-info">
                    <div class="item-navigation">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="#product-details" class="active" aria-controls="product-details" role="tab" data-toggle="tab">جزئیات</a>
                            </li>
                            <li>
                                <a href="#product-comment" aria-controls="product-comment" role="tab" data-toggle="tab">
                                    نظرات
                                    <span>(@Comments.Count)</span>
                                </a>
                            </li>
                            
                            <li>
                                <a href="#product-support" aria-controls="product-support" role="tab" data-toggle="tab">افزودن نظر</a>
                            </li>
                          
                        </ul>
                    </div>
                    <!-- end /.item-navigation -->

                    <div class="tab-content">
                        <div class="fade show tab-pane product-tab active" id="product-details">
                            <div class="tab-content-wrapper">
                                @Html.Raw(Model.Description)

                                @*<h2>ویژگی ها با ویدئو:</h2>
                                <iframe width="100" height="400" src="https://www.youtube.com/embed/w2zIUJrglR4" allowfullscreen></iframe>*@
                            </div>
                        </div>
                        <!-- end /.tab-content -->

                        <div class="fade tab-pane product-tab" id="product-comment">
                            <div class="thread">
                                <ul class="media-list thread-list">
                                    @foreach (var comment in Comments.Where(c=>c.ParentId == null))
                                    {
                                        <li class="single-thread">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object" style="border-radius: 50%" src="@(comment.User.Avatar != null ? PathTools.UserImagePath + comment.User.Avatar : PathTools.DefaultUserImage)" alt="Commentator Avatar">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <div>
                                                        <div class="media-heading">
                                                            <a href="author.html">
                                                                <h4>@(comment.User.FirstName)</h4>
                                                            </a>
                                                            <span>@comment.CreateDate.ToFa("f") </span>
                                                        </div>
                                                        <a onclick="FillAnswerBox(@comment.ID)" href="#product-support" aria-controls="product-support" role="tab" data-toggle="tab" class="reply-link">پاسخ </a>
                                                    </div>
                                                    <p>@comment.Text </p>
                                                </div>
                                            </div>
                                            
                                            @if (Comments.Any(c => c.ParentId == comment.ID))
                                            {

                                                <!-- nested comment markup -->
                                                <ul class="children">
                                                    @foreach (var child in Comments.Where(c => c.ParentId == comment.ID))
                                                    {
                                                        <li class="single-thread depth-2">
                                                            <div class="media">
                                                                <div class="media-left">
                                                                    <a href="#">
                                                                        <img class="media-object" style="border-radius: 50%" src="@(child.User.Avatar != null ? PathTools.UserImagePath + child.User.Avatar : PathTools.DefaultUserImage)" alt="Commentator Avatar">
                                                                    </a>
                                                                </div>
                                                                <div class="media-body">
                                                                    <div class="media-heading">
                                                                        <h4>@child.User.FirstName</h4>
                                                                        <span>@child.CreateDate.ToFa("f")</span>
                                                                    </div>
                                                                    <p>@child.Text</p>
                                                                </div>
                                                            </div>

                                                        </li>
                                                    }

                                                </ul>
                                            }
                                            
                                        </li>
                                        <!-- end single comment thread /.comment-->
                                    }


                                </ul>
                                <!-- end /.media-list -->

                              
                                <!-- end /.comment-form-area -->
                            </div>
                            <!-- end /.comments -->
                        </div>
                        <!-- end /.product-comment -->


                        <div class="fade tab-pane product-tab" id="product-support">
                            <div class="support">
                                <div class="support__title">
                                    <h3 id="cmt_title">افزودن نظر</h3>
                                    <h3 id="usernameAnswer"></h3>
                                </div>
                                <div class="support__form">
                                    <div class="usr-msg">
                                        @if (!User.Identity.IsAuthenticated)
                                        {
                                            <p>
                                                لطفا برای ارسال نظر
                                                <a href="/login">وارد </a>شوید.
                                            </p>
                                        }
                                        else
                                        {
                                            <form asp-controller="Event" asp-action="AddComment" method="post" class="پشتیبانی_form">
                                                <input name="comments.EventId" value="@Model.ID" type="hidden"/>
                                                <input name="comments.ParentId" type="hidden" id="answer"/>
                                                <div class="form-group">
                                                    <label for="supmsg">متن : </label>
                                                    <textarea class="text_field" id="supmsg" name="comments.Text" placeholder="متن خود را وارد کنید ..."></textarea>
                                                </div>
                                                <button type="submit" class="btn btn--lg btn--round">ارسال </button>
                                            </form>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end /.product-support -->

                        <div class="fade tab-pane product-tab" id="product-faq">
                            <div class="tab-content-wrapper">
                                <div class="panel-group accordion" role="tablist" id="accordion">
                                    <div class="panel accordion__single" id="panel-one">
                                        <div class="single_acco_title">
                                            <h4>
                                                <a data-toggle="collapse" href="#collapse1" class="collapsed" aria-expanded="false" data-target="#collapse1" aria-controls="collapse1">
                                                    <span>نحوه نوشتن تغییرات برای به روز رسانی تم؟</span>
                                                    <i class="lnr lnr-chevron-down indicator"></i>
                                                </a>
                                            </h4>
                                        </div>

                                        <div id="collapse1" class="panel-collapse collapse" aria-labelledby="panel-one" data-parent="#accordion">
                                            <div class="panel-body">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end /.accordion__single -->

                                    <div class="panel accordion__single" id="panel-two">
                                        <div class="single_acco_title">
                                            <h4>
                                                <a data-toggle="collapse" href="#collapse2" class="collapsed" aria-expanded="false" data-target="#collapse2" aria-controls="collapse2">
                                                    <span>نحوه نوشتن تغییرات برای به روز رسانی تم؟</span>
                                                    <i class="lnr lnr-chevron-down indicator"></i>
                                                </a>
                                            </h4>
                                        </div>

                                        <div id="collapse2" class="panel-collapse collapse" aria-labelledby="panel-one" data-parent="#accordion">
                                            <div class="panel-body">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel accordion__single" id="panel-three">
                                        <div class="single_acco_title">
                                            <h4>
                                                <a data-toggle="collapse" href="#collapse3" class="collapsed" aria-expanded="false" data-target="#collapse3" aria-controls="collapse3">
                                                    <span>نحوه نوشتن تغییرات برای به روز رسانی تم؟</span>
                                                    <i class="lnr lnr-chevron-down indicator"></i>
                                                </a>
                                            </h4>
                                        </div>

                                        <div id="collapse3" class="panel-collapse collapse" aria-labelledby="panel-one" data-parent="#accordion">
                                            <div class="panel-body">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. </p>
                                            </div>
                                        </div>
                                    </div>



                                    <!-- end /.accordion__single -->
                                    <!-- end /.accordion__single -->
                                </div>
                                <!-- end /.accordion -->
                            </div>

                        </div>
                        <!-- end /.product-faq -->
                    </div>
                    <!-- end /.tab-content -->
                </div>
                <!-- end /.item-info -->
            </div>
            <!-- end /.col-md-8 -->

            <div class="col-lg-4">
                <aside class="sidebar sidebar--single-product">
                    <div class="sidebar-card card-pricing">
                        <div class="price">
                            <h1>
                                @(Model.Price == 0 ? "رایگان" : @Model.Price.ToString("#,0") + " " +"تومان")
                            </h1>
                        </div>


                        <div class="purchase-button">
                            @if (ViewBag.UserBuy == true)
                            {
                                <a href="#" class="btn btn--lg btn--round cart-btn btn-success">
                                    <i class="fa fa-check"></i>
                                    شما ثبت نام کرده اید
                                </a>
                            }
                            else
                            {
                                <a asp-action="BuyEvent" asp-controller="Event" asp-route-EventId="@Model.ID" class="btn btn--lg btn--round cart-btn">
                                    ثبت نام در رویداد
                                </a>
                            }
                        </div>
                        <!-- end /.purchase-button -->
                    </div>
                    <!-- end /.sidebar--card -->

                    <div class="sidebar-card card--metadata">
                        <ul class="data">
                            <li>
                                <p>
                                    <span class="lnr lnr-eye pcolor"></span>بازدید
                                </p>
                                <span>@Model.Seen</span>
                            </li>
                            
                            <li>
                                <p>
                                    <span class="lnr lnr-bubble mcolor3"></span>نظرات
                                </p>
                                <span>@Comments.Count</span>
                            </li>
                        </ul>

                        
                    </div>
                    <!-- end /.sidebar-card -->

                    <div class="sidebar-card card--product-infos">
                        <div class="card-title">
                            <h4>اطلاعات رویداد</h4>
                        </div>

                        <ul class="infos">
                            <li>
                                <p class="data-label">روز برگزاری</p>
                                <p class="info">@Model.StartDate.ToFa("D")</p>
                            </li>
                            <li>
                                <p class="data-label">به روز رسانی</p>
                                <p class="info">@Model.LastUpdateDate.ToFa("D")</p>
                            </li>
                            
                            <li>
                                <p class="data-label">مکان برگزاری</p>
                                <p class="info">@Model.LocationName</p>
                            </li>
                            <li>
                                <p class="data-label">آدرس</p>
                                <p class="info">@Model.Address</p>
                            </li>
                            <li>
                                <p class="data-label">
                                    برچسب ها

                                </p>
                                <p class="info">
                                    <a href="#">بوت استرپ 4</a>,
                                    <a href="#">html5</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!-- end /.aside -->

                    <div class="author-card sidebar-card ">
                        <div class="card-title">
                            <h4>
                                اطلاعات برگزار کننده
                            </h4>
                        </div>

                        <div class="author-infos">
                            <div class="author_avatar">
                                <img src="/images/new/author-avatar.jpg" alt="Presenting the broken author avatar :D">
                            </div>

                            <div class="author">
                                <h4>دامن دریا </h4>
                                <p>شروع : 1 فروردین 98</p>
                            </div>
                            <!-- end /.author -->

                            <div class="social social--color--filled">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="fa fa-dribbble"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- end /.social -->
                            
                        </div>
                        <!-- end /.author-infos -->


                    </div>
                    <!-- end /.author-card -->
                </aside>
                <!-- end /.aside -->
            </div>
            <!-- end /.col-md-4 -->
        </div>
        <!-- end /.row -->
    </div>
    <!-- end /.container -->
</section>
<!--===========================================
    END SINGLE PRODUCT DESCRIPTION AREA
===============================================-->

@section Scripts{
    <script>
        function FillAnswerBox(id, name) {
            console.log(name);
            $("#answer").val(id);
            $("#usernameAnswer").innerHTML = `
            در پاسخ به : ${name}
            `;
        }
    </script>
}

